
input {
    margin: 3px;
    border-radius: 5px;
    padding-left: 10px;
}
img {
    width: 150px;
    height: 50px;
    cursor: pointer;
}
.right {
    float:right;
}
nav {
    background: transparent !important;
}