<div [ngSwitch] = "isShowListTextBox">
<form *ngSwitchCase= "false" (ngSubmit)="onSubmit()">
    <input id="listTitle" type = "text" autofocus = "true" placeholder="Enter list title..." autocomplete="off" maxlength="512" (blur) = "showList($event)"/>
    <div>
        <button type="button" [ngClass]="addListButtonClass">
            <i [ngClass]="addListButtonIcon"></i>
            Add List
        </button>
    </div>
</form>



<button *ngSwitchCase= "true" type="button" [ngClass]="addListButtonClass" (click)="showList($event)">
    <i [ngClass]="addListButtonIcon"></i>
    Add Another List
</button>


</div>