
<div [ngSwitch] = "isShowCardTextBox">
    <form *ngSwitchCase= "false" (ngSubmit)="onSubmit()">
                <input id="cardTitle" type = "text" autofocus = "true" placeholder="Enter card title..." autocomplete="off" maxlength="512" (blur) = "showAddCardTextbox($event)"/>
            <button type="button" [ngClass]="addCardButtonClass">
                    <i [ngClass]="addCardButtonIcon"></i>
                    Add List
                </button>
    </form>

    <button *ngSwitchCase= "true" type="button" [ngClass]="addCardButtonClass" (click)="showAddCardTextbox($event)">
            <i [ngClass]="addCardButtonIcon"></i>
            Add Another Card
    </button>
</div>
